### A Look at the Data

In order to get a better understanding of the data we will be looking at throughout this lesson, let's take a look at some of the characteristics of the dataset.

First, let's read in the data and necessary libraries.

In [248]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [249]:
b_cal = pd.read_csv('boston_calendar.csv')
b_list = pd.read_csv('boston_listings.csv')
b_rev = pd.read_csv('boston_reviews.csv')

s_cal = pd.read_csv('seatle_calendar.csv')
s_list = pd.read_csv('seatle_listings.csv')
s_rev = pd.read_csv('seatle_reviews.csv')

## Task 1: Busines Understanding

### Step 1: Basic Exploration with minimal cleaning
*To familiarize with the Data and to gather insights to formulate questions*

> **Boston & Seatle Calendar**

#### Check the sizes of cols and rows

In [250]:
print(b_cal.head(2)),print('\n'), print(s_cal.head(2))
print('\n')
print("b_cal  :", b_cal.shape)
print("s_cal  :", s_cal.shape)

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN


   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00


b_cal  : (1308890, 4)
s_cal  : (1393570, 4)

#### Check Nulls

In [251]:
print('Boston Cal: ')
print("Cols with nulls: ", b_cal.isnull().sum()[b_cal.isnull().sum()>0].index[0])
print("Null prop of price column: ", b_cal.price.isnull().sum()/b_cal.shape[0])
print("Proportion of False(unit unavailable at this date ):", b_cal.available[b_cal.available =='f' ].count()/b_cal.shape[0])
#Since the proportions are the same, then, all nans are when the units aren't available, let's be more sure
print("Nulls when units are available: ", b_cal[b_cal['available']== 't']['price'].isnull().sum())
print('\n')
print('Seatle Cal: ')
print("Cols with nulls: ", s_cal.isnull().sum()[s_cal.isnull().sum()>0].index[0])
print("Null prop of price column: ", s_cal.price.isnull().sum()/s_cal.shape[0])
print("Proportion of False(unit unavailable at this date ):", s_cal.available[s_cal.available =='f' ].count()/s_cal.shape[0])
#Since the proportions are the same, then, all nans are when the units aren't available, let's be more sure
print("Nulls when units are available: ", s_cal[s_cal['available']== 't']['price'].isnull().sum())

Boston Cal:
Cols with nulls:  price
Null prop of price column:  0.5087157820748879
Proportion of False(unit unavailable at this date ): 0.5087157820748879
Nulls when units are available:  0


Seatle Cal:
Cols with nulls:  price
Null prop of price column:  0.32938998399793334
Proportion of False(unit unavailable at this date ): 0.32938998399793334
Nulls when units are available:  0

#### Transfer Date column to datetime to ease manipulation, analysis and modeling. I create a dataframe with seperate date items from the Date column, to check the period in which the data was collected.

In [252]:
def create_dateparts(df, date_col):
    
    df['date'] = pd.to_datetime(df.date)
    print(df.date.dtype== 'datetime64[ns]')

    b_date_df = pd.DataFrame()
    b_date_df['year'] = df['date'].dt.year
    b_date_df['month'] = df['date'].dt.month
    b_date_df['day'] =df['date'].dt.day
    b_date_df['dow'] =df['date'].dt.strftime("%A")
    df = df.join(b_date_df)
    return df

In [253]:
b_cal_1 = create_dateparts(b_cal, 'date')
b_cal_1.head(3)

True

   listing_id       date available price  year  month  day      dow
0    12147973 2017-09-05         f   NaN  2017      9    5  Tuesday
1    12147973 2017-09-04         f   NaN  2017      9    4   Monday
2    12147973 2017-09-03         f   NaN  2017      9    3   Sunday

In [254]:
s_cal_1 = create_dateparts(s_cal, 'date')
s_cal_1.head(3)

True

   listing_id       date available   price  year  month  day        dow
0      241032 2016-01-04         t  $85.00  2016      1    4     Monday
1      241032 2016-01-05         t  $85.00  2016      1    5    Tuesday
2      241032 2016-01-06         f     NaN  2016      1    6  Wednesday

In [255]:
def get_period_df(df):
    period =pd.DataFrame(df.groupby(['year','month'], sort = True)['day'].value_counts())
    period = period.rename(columns={'day':'count'}, level=0)
    period = period.reset_index().sort_values(by=['year', 'month', 'day']).reset_index(drop = True)
    return period

In [256]:
b_period =get_period_df(b_cal_1)
b_period

     year  month  day  count
0    2016      9    6   3586
1    2016      9    7   3586
2    2016      9    8   3586
3    2016      9    9   3586
4    2016      9   10   3586
..    ...    ...  ...    ...
360  2017      9    1   3586
361  2017      9    2   3586
362  2017      9    3   3586
363  2017      9    4   3586
364  2017      9    5   3586

[365 rows x 4 columns]

In [257]:
s_period =get_period_df(s_cal_1)
s_period

     year  month  day  count
0    2016      1    4   3818
1    2016      1    5   3818
2    2016      1    6   3818
3    2016      1    7   3818
4    2016      1    8   3818
..    ...    ...  ...    ...
360  2016     12   29   3818
361  2016     12   30   3818
362  2016     12   31   3818
363  2017      1    1   3818
364  2017      1    2   3818

[365 rows x 4 columns]

In [258]:
print(b_period['count'].unique())
print(s_period['count'].unique())
print("Number of unique Listing IDs in Boston Calendar: ", len(b_cal_1.listing_id.unique()))
print("Number of unique Listing IDs in Seatle Calendar: ", len(s_cal_1.listing_id.unique()))

[3586]
[3818]
Number of unique Listing IDs in Boston Calendar:  3585
Number of unique Listing IDs in Seatle Calendar:  3818

#### Counts are the equivalent to the numbers of unique ids because all the ids are spanning the same time period by day.  Let's check any anomalies

In [259]:
def check_anomalies(df, col):
    list_ids_not_year_long = []

    for i in sorted(list(df[col].unique())):
        if df[df[col]== i].shape[0] != 365:
            list_ids_not_year_long.append(i)
    print("Entry Ids that don't span 1 year: " , list_ids_not_year_long)

In [260]:
#Boston
check_anomalies(b_cal_1, 'listing_id')

Entry Ids that don't span 1 year:  [12898806]

In [261]:
#Seatle
check_anomalies(s_cal_1, 'listing_id')

Entry Ids that don't span 1 year:  []

In [262]:
## check this entry in Boston Calendar
print("Span of the entries for this listing, should be 365: ", b_cal_1[b_cal_1['listing_id']== 12898806].shape[0])
## 2 years, seems like a duplicate as 730 = 365 * 2
one_or_two = pd.DataFrame(b_cal_1[b_cal_1['listing_id']==12898806].groupby(['year', 'month', 'day'])['day'].count()).day.unique()[0]
print("Should be 1: ", one_or_two)
## It indeed is :)
b_cal_1 = b_cal_1.drop_duplicates()
print("Size of anomaly listing, Should be = 365: ", b_cal_1.drop_duplicates()[b_cal_1.drop_duplicates().listing_id==12898806]['listing_id'].size)
print("After removing duplicates, Span of the entries for this listing, should be 365: ", b_cal_1[b_cal_1['listing_id']== 12898806].shape[0])
print("After removing duplicates, shape is: ", b_cal_1.shape)

Span of the entries for this listing, should be 365:  730
Should be 1:  2
Size of anomaly listing, Should be = 365:  365
After removing duplicates, Span of the entries for this listing, should be 365:  365
After removing duplicates, shape is:  (1308525, 8)

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
### Comments:  
[Boston & Seatle Calendar]
- The datasets have information about listing dates, availability and price tracked over a year for ever listing id
- There are no data entry errors, all nulls are due to the structuring of the Data (the listings that aren't available has no price)
<br><br>
- I added 4 cols that contain dateparts that will aid further analysis and modeling
- The Boston calendar Dataset ranges through `365`days from `6th of September'16` to `5th of September'17`, No nulls with `1308525` rows and  `8` cols
- The Seatle calendar Dataset ranges through `365`days from `4th of January'16` to `2nd of January'17`, No nulls with `1393570` rows and  `8` cols
<br><br>
- Number of unique Listing IDs in Boston Calendar:  `3585`
- Number of unique Listing IDs in Seatle Calendar:  `3818`
- May need to order the table later

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

 _______________________________________________________________________________________________________________________

## Step 1: Continue -

> **Boston & Seatle Listings**

In [18]:
b_list.head(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN

In [34]:
s_list.head(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07

 ### Check the sizes of cols & rows & check Nulls

In [556]:
print("Boston listings size :", b_list.shape)
print("Seatle listings size :", s_list.shape)
set_difference = set(b_list.columns) - set(s_list.columns)
print("Columns in Boston but not in Seatle:  ", set_difference)
print("Number of Non-null cols in Boston listings: ",  np.sum(b_list.isnull().sum()==0), " From ", b_list.shape[1])
print("Number of Non-null cols in Seatle listings: ",  np.sum(s_list.isnull().sum()==0), " From ", s_list.shape[1])

Boston listings size : (3585, 95)
Seatle listings size : (3818, 92)
Columns in Boston but not in Seatle:   {'interaction', 'house_rules', 'access'}
Number of Non-null cols in Boston listings:  51  From  95
Number of Non-null cols in Seatle listings:  47  From  92

In [93]:
b_list[['house_rules', 'access', 'interaction']].head(3)

,house_rules,access,interaction
0,Clean up and treat the home the way you'd like...,"You will have access to 2 bedrooms, a living r...",NaN
1,Pet friendly but please confirm with me if the...,Apt has one more bedroom (which I use) and lar...,"If I am at home, I am likely working in my hom..."
2,"I encourage you to use my kitchen, cooking and...","I am living in the apartment during your stay,...","ABOUT ME: I'm a laid-back, friendly, unmarried..."

In [669]:
# For Boston Listings The null proportion per column
#b_list.isnull().sum()[b_list.isnull().sum()>0]/b_list.shape[0]*100
# For Seatle Listings The null proportion per column
#s_list.isnull().sum()[s_list.isnull().sum()>0]/s_list.shape[0]*100
b_list_nan = b_list.isnull().sum()/b_list.shape[0]
s_list_nan = s_list.isnull().sum()/s_list.shape[0]
#b_list_nan[b_list_nan>.75]
s_list_nan[s_list_nan>.75]
#b_list_nan[b_list_nan>.5]
#s_list_nan[s_list_nan>.5]

square_feet    0.974594
license        1.000000
dtype: float64

# Examine columns closely to prep them correctly!

In [582]:
#Function 1
#list(df.select_dtypes(include =['object']).columns)
def add_len_text(df, to_len_text):
    for col in to_len_text :
        len_text = []
        for i in df[col]:
            try:
                len_text.append(len(i))
            except:
                len_text.append(i)
        df = df.drop(col, axis = 1)
        len_text = pd.Series(len_text)        
        len_text = len_name.reset_index(drop = True)
        df["len_"+col] = len_text
    return df

In [ ]:
def drop_fix_type(df, drop_cols, to_float, to_date, to_binary, to_len_text ):

In [ ]:
############################# To Do :

#(Depending on the questions I am posing at the end of the exploration):
#-----------------------------------------------------------------------


#------------------------------------check correlations before modeling----------------------------------------------------

#to_break
#---------
#maximum_nights   ++   *             "needs work on it Maybe drop maybe divide into ranges"

#to_count
#---------
#host_verifications    +++           "count, 
#amenities     +++                   "count,

#to_binary
#---------
#picture_url     +++                 "Transform to a parallel col of 0 &1, boolean, t or f 

#to_len_text 
#--------------
#name                     "object, text ""
#host_about               "object, text ""
#summary -                "object, text "" 
#description *            "object, text ""                  
#neighborhood_overview *  "object, text ""
#transit - 
#--------------------------------------------------------------------------------------------------------------------------

#to_float
#---------
#cleaning_fee  ++++                     "Öbject, Transform to numeric""      30% null boston,27% seatle
#host_response_rate   +++++             "Öbject, Transform to numeric", 
#host_acceptance_rate  +++++            "Öbject, Transform to numeric", 
#host_response_rate   +++++             "Öbject, Transform to numeric",  
#host_acceptance_rate  +++++            "Öbject, Transform to numeric", 
#extra_people   ++++                    "Öbject, Transform to numeric", 
#price      +++++                       "Öbject, Transform to numeric", 

#--------------------------------------------------------------------------------------------------------------------------
#to_drop
#--------
#reason> little use 
#------------------
listing_url, scrape_id, last_scraped, experiences_offered, thumbnail_url,xl_picture_url, medium_url,
, host_id, host_url, host_thumbnail_url, host_picture_url, host_total_listings_count, neighbourhood, neighbourhood_group_cleansed,
state, country_code, country, latitude, longitude , has_availability, calendar_last_scraped, host_name
 

# reason> only in boston
#------------------
access , interaction, house_rules

#reason>  Nulls, 0 variability or extreme variability 1000+ unique:
#-----------------------------------------------------------------
#square_feet +++                        "Float,                       90% null boston , 97% seatle ___ sadder"
#weekly_price +++++   *               "Öbject, Transform to numeric""  75% Null boston, 47% seatle ___sadder b
#monthly_price +++++  *               "Öbject, Transform to numeric"  75% Null boston ,  60% seatle__saddder b
#security_deposit +++                "Öbject, Transform to numeric""    65% Null boston  51 % seatle___sad b, sad s
#notes *                             "object, short text"               55% null b, 42% null___ sad B, sad S
#jurisdiction_names
#license
#requires_license
#street                              "1200, 1400 unique values"



######################## As is now (check later)

#market  +++                        "object, 5 B, (1) S___ !!!
#property_type    ++++              "object, 14 B, 17 S, unique property type apartment, house, etc. "
#host_location     +++,             "object, 171 B, 121 s unique, "
#host_neighbourhood   +++++         "object, 54 B, 103 S unqiue ?????,
#neighbourhood_cleansed ++++        "object, 25 B, 87 S unique,  "
#city   ++++                        "object, 39 B, 7 S unique values"
#zipcode ++++                       "object, 44 B, 29 S unique values,
#smart_location  ++++               "object, 39 B, 7 S unique values '
#calendar_updated ++                "object, 38 B, 34 S unique, 
#cancellation_policy                "object, 4 B, 3 s unique  '

#host_response_time ++++,           "5 unique, object, ordinal"
#room_type         ++++             "3 unique 'Entire home/apt', 'Private room', 'Shared room'"
#bed_type      ++++                 "5 unique, Real Bed', 'Futon', 'Pull-out Sofa', 'Airbed', 'Couch'

#host_has_profile_pic ++                 "object, t or f"
#host_identity_verified                  "object, t or f"
#host_is_superhost     +++++             "object, t or f" 
#is_location_exact ++++                  "object, t or f"
#instant_bookable                        "object, t or f"
#require_guest_profile_picture           "object, t or f"
#require_guest_phone_verification        "object, t or f"

#accommodates      ++++               "int"
#availability_30                      "int"
#availability_60                      "int"
#availability_90                      "int"
#availability_365                     "int"
#number_of_reviews                    "int"
#guests_included +++++                "int"
#minimum_nights +++++                 "int"
#calculated_host_listings_count       "int"

#host_listings_count   +++++          "Float" 
#bathrooms          ++++              "Float"
#bedrooms         ++++                "Float"
#beds                ++++             "Float"
#review_scores_rating                 "float, INvestigate what is this ?? "
#review_scores_accuracy               "float"
#review_scores_cleanliness            "float"
#review_scores_checkin                "float"
#review_scores_communication          "float"
#review_scores_location               "float"
#review_scores_value                  "float"
#reviews_per_month                    "Float"

In [728]:
## Examine to decide and construct the functions !!!!! 
b_list.maximum_nights.unique()[(b_list.maximum_nights.unique()<=20)&(b_list.maximum_nights.unique()>14)]

array([15, 20, 16, 17, 18, 19], dtype=int64)

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
### Comments:  
[Boston & Seatle Listings]
- Boston listings size : `3585`, `95`
- Seatle listings size : `3818`, `92`
- Boston Listings has 3 cols that arent in Seatle, `house_rules`, `access`, `interaction`, types: `Object/String`
- Number of Non-null cols in Boston listings:  `51`, around half
- Number of Non-null cols in Seatle listings:  `47`, around half